/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');  /* For Normal : font-family: "Dancing Script", "Caveat", "Edu VIC WA NT Beginner", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Grey+Qo&family=Qwitcher+Grypen:wght@400;700&family=Zeyada&display=swap');  /* For Styling : font-family: "Dancing Script", "Caveat", "Zeyada", "Great Vibes", "Grey Qo", "Qwitcher Grypen"; */

/*   **************************************************************  Unique Styling  **************************************************************   */

.sp-ai-image{                         /*     this code for image ( !intro ), Add this class : sp-ai-image   */
    height: 500px !important;
    overflow: hidden !important;
    border: transparent;
}
.sp-ai-image img{
    height: 500px !important;
    width: 648px !important;
    object-fit: fill !important;
    border-radius: 15% 25% 15% 25%;
}                                    /*     this code for image ( !intro ), Add this class : sp-ai-image   */

.sp-h2{
    font-size: 55px !important;
    font-family: cursive,'Courier New', Courier, monospace;
}


/*   **************************************************************  Header Styling  **************************************************************   */

main{
    background-color: #ffffff !important;
}

/*   **************************************************************  Header Styling  **************************************************************   */


header{
    background-color: #ffffff !important;
}
.sp-hNav-bg{
    background-color: #ffffff !important;
    box-shadow: 0 .1875rem .625rem #d9d7d9;
}
.sp-color{
    font-weight: 700;
}
.sp-navbar-brand {
  font-family: "Dancing Script", "Caveat", "Edu VIC WA NT Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #e900ff;
}


/*   **************************************************************  Main Styling  **************************************************************   */

.sp-intro-bg{
    background-color: #f5fcff;
    height: 40rem;
    background-image: url(../assets/image/indroBg.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.intro .row div{
    height: 90% !important;
    color: #ff0000;
    width: 50%;
    /* background-color: #FFD700; */
}

.box1{
    background-image: url(../assets/image/sp-photo.png);
    height: 100%;
}
.box2 img{
    height: 39.0625rem !important;
    /* width: -webkit-fill-available !important; */
}



.education .container div{
    width: 50% !important;
}






/*   **************************************************************  Footer Styling  **************************************************************   */

/* footer{
    background-color: #ebf8fd !important;
    height: 16.875rem; 
}*/

footer section{
    background-color: #ebf8fd !important;
    height: 16.875rem;
    user-select: none;
}
footer section div{
    height: 49%;
}
footer section hr{
    width: 100%;
    margin: 0 auto;
}
section .sp-footer-brand{
    /* font-family: "Dancing Script", "Caveat", "Edu VIC WA NT Beginner", cursive; */
    font-family: "Dancing Script", "Caveat", "Zeyada", "Great Vibes", "Grey Qo", "Qwitcher Grypen";
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #e900ff;
}
.sp-footer-nav1 a, .sp-footer-nav2 a{
    /* padding-left: .9375rem; */
    margin-left: .625rem;
    text-decoration: none;
    color: #000000;
}
.socialLink a{
    /* padding-left: .625rem; */
    margin-left: .625rem ;
    text-decoration: none;
    color: #000000; 
}